<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       >

    <!--第一类：声明方法-->
    <!--<bean id="moocApplicationContext" class="com.xjtu.aware.MoocApplicationContext"></bean>-->
    <bean id="moocBeanName" class="com.xjtu.aware.MoocBeanName"></bean>

</beans>