<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"

       default-autowire="constructor">
       <!--default-autowire="byType">-->
       <!--default-autowire="byName">-->

    <!--Bean装配之自动装配：no/byName/byType/Constructor-->
    <bean id="autoWiringService" class="com.xjtu.autowiring.AutoWiringService"></bean>

    <bean id="autoWiringDAO" class="com.xjtu.autowiring.AutoWiringDAO"></bean>

</beans>